.sidebar{
  flex: 2;
  height:calc(100vh - 5rem);
  background-color: var(--primary_black);
  position: sticky;
  top: 7rem;
  box-shadow: 2px 4px 10px 1px rgba(216, 49, 91, 1);



  &__img{
    height: 35rem;
    width: 25rem;
    border-radius: .4rem;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 1rem;
    transform: translate(-50%,0);

  }

  .sidebar__icon{

    &--linkedin{
      color: var(--primary_lightB);
      font-size: 3rem;
    }

    &--github{
      color: black;
      font-size: 3rem;
    }

    &--about{
      color: white;
      font-size: 3rem;
    }
  }

  &__hr{
    margin-top: 1rem;
  }

  .sidebar__contactInfo{

    &--contactText{
      color:  #1877f2;
      text-align: center;
      font-size: 2.5em;
    }

    .sidebar__myInfo{
      font-size: 2rem;
      font-weight: 500;
      font-family: sans-serif;

      &--icon{
        font-size: 3rem;
        color: var(--primary_white);
      }
    }
  }

}
